gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Keystore and signing secrets
key.properties
**/*.keystore
**/*.jks
**/*.p12
**/*.pem
